.mediaSection {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    background-color: rgba(248, 232, 188, 1);
    /* border: 2px solid rgb(199, 78, 17); */
}

.mediaTop {
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 0; 
    width: 100%; 
}

.mediaContent {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;
    /* border: 1px solid blue; */
    padding: 50px;
}

.mediaImage {
    width: 100%; 
    height: auto; 
}

.mediaContent>div{
    flex-direction: column;
    width: 60%;
    /* border: 2px solid purple; */
}

.mediaContent>div:nth-child(1){
    /* border: 1px solid green; */
    margin-right: 80px;
}

.mediaContent>div:nth-child(1)>p{
    font-size: 20px; 
}

.mediaContent>div:nth-child(2){
    /* border: 1px solid yellow; */
    margin: 10px;
    width: 85%;
}

.publications{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} 