.button {
    margin-top: 3.4375rem;
    background-color: #5b3923;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    font-size: 1.4rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #3e2919;
    transition: all .2s;
}

.button:active {
    transform: scale(0.95);
}

/* --------------------------------Title-------------------------------- */

.titleDefault {
    color: #5b3923;
    font-size: 2rem;
    margin-bottom: 5.4375rem;
    text-align: center;
}

.titleBenefitsSection{
    color: #6e0d0a;
    text-align: left;
    margin-top: 30px;
}

.titleRetentionSection{
    color: white;
}

.titleFAQSection{
    color: #4e342e;
    text-align: center;
    margin-top: 30px;
    border: 1px solid #4e342e;
}


.titleMediaSection{
    color:black;
    text-align: left;

}

/* --------------------------------contentBlock-------------------------------- */
.contentBlock {
    padding: 0 2rem;
}

.contentBlock h3 {
    color: #5b3923;
    font-size: 1.5rem;
    margin-top: 3.5625rem;
    margin-bottom: 0.8125rem;
}

.contentBlock p {
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 5.0625rem;
}
