/* --------------------------------Button-------------------------------- */

.button {
    margin-top: 3rem;
    padding: 12px 24px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    border-radius: 50px;
    background: linear-gradient(45deg, #D14200, #D4336E, #6E0A62);
    background-size: 600%;
    position: relative; /* Necessário para o pseudo-elemento funcionar corretamente */
    z-index: 1; /* Garante que o botão fique acima do ::before */
    transition: transform 0.3s ease-in-out;
    color: #ffffff;
}

.retentionSectionButton, .button {
    padding: 15px 40px;
    font-size: 20px;
    text-align: center;
    line-height: normal;
    color: #ffffff;
    border-radius: 50px;
    position: relative; /* Necessário para o pseudo-elemento funcionar corretamente */
    background: linear-gradient(45deg, #D14200, #D4336E, #6E0A62);
    background-size: 600%;
    transition: all 0.3s;
    animation: anime 10s linear infinite;
    z-index: 1; /* Garante que o botão sempre fique acima do ::before */
}

.retentionSectionButton::before, .button::before {
    content: '';
    position: absolute;
    top: -3px; /* Ajuste para reduzir a área de blur */
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: 50px;
    background: linear-gradient(45deg, #313131, #FF3C83, #FF8C94);
    background-size: 600%;
    filter: blur(15px); /* Blur menor */
    z-index: -1; /* Fica atrás do botão */
    animation: anime 10s linear infinite; /* Mantém a animação sempre ativa */
    opacity: 1; /* Garante que o elemento esteja visível */
}

/* Animação gradiente */
@keyframes anime {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.retentionSectionButton:hover, .button:hover {
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.95);
}

/* --------------------------------Title-------------------------------- */

.titleDefault {
    color: #5b3923;
    font-size: 2rem;
    margin-bottom: 3.4375rem;
    text-align: center;
    margin-top: 0.5625rem;
}

.titleBenefitsSection {
    color: #2F0202;
    text-align: left;
    margin-top: 30px;
}

.titleRetentionSection {
    color: white;
}

.titleFAQSection {
    padding: 0px;
    margin: 10px;
    color: black;
    text-align: center;
    margin-top: 30px;
    width: 100%;
    position: sticky; 
    top: 0; 
    background-color: white; 
    z-index: 10;
}


.titleMediaSection {
    color: black;
    text-align: left;

}

/* --------------------------------contentBlock-------------------------------- */
.contentBlock {
    padding: 0 2rem;
}

.contentBlock h3 {
    color: #5b3923;
    font-size: 1.5rem;
    margin-top: 3.5625rem;
    margin-bottom: 0.8125rem;
}

.contentBlock p {
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 5.0625rem;
}

.aboutMeContent h3 {
    margin-top: 0.5rem;
}

.aboutMeContent p {
    margin-bottom: 0;
}

.aboutMeContentMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutMeContentMobile h3 {
    margin-top: 0.5rem;
}

.aboutMeContentMobile p {
    margin-bottom: 2rem;
}


@media screen and (max-width: 768px) {

    /* --------------------------------Button-------------------------------- */
    .button {
        font-size: 1.18rem;
    }

    /* --------------------------------Title-------------------------------- */
    .titleDefault {
        font-size: 1.5rem;
    }

    .titleMediaSection {
        text-align: center;
    }

    /* --------------------------------contentBlock-------------------------------- */
    .contentBlock {
        width: 100%;
        margin: 5px;
    }

    .contentBlock h3 {
        font-size: 1.1rem;

    }

    .contentBlock p {
        font-size: 1rem;
    }

}