.faqSection {
  background-color: white;
  padding: 0;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.faqImage {
  width: 100%;
  height: 30vh;
  position: relative;
  background-size: cover;
  background-position: right top;
  overflow: hidden;
}

.faqBody {
  max-width: 70%;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;
  min-height: fit-content;
  z-index: 2;
}

.faqList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faqDetails {
  margin-bottom: 5px;
  border-radius: 12px;
  width: 100%; 
  box-sizing: border-box;
  transition: height 0.5s ease, background-color 0.5s ease, padding 0.3s ease;
  background-color: #f7deb0;
  border: 1px solid #d6c7a7;
  padding: 10px 5px;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  height: 60px; /* Altura inicial */
}

.faqDetailsOpen {
  padding: 20px 25px;
  height: auto;
  transition: height 0.5s ease, background-color 0.5s ease, padding 0.3s ease;
}

.faqSummary {
  font-size: 20px; /* Padronizado para 20px */
  width: 100%;
  color: black;
  cursor: pointer;
  list-style: none;
  padding: 3px;
  margin: 0px;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.faqSummaryIcon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 8px 5px;
  flex-shrink: 0;
}

.faqDetailsContent {
  font-size: 20px; /* Padronizado para 20px */
  margin: 0;
  background-color: #f7deb0;
  transition: height 0.3s ease, opacity 0.5s ease, padding 0.3s ease;
  opacity: 0;
  height: 0px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  visibility: hidden;
  border-top: 1px solid white;
}

.faqContentOpen {
  opacity: 1;
  color: #000000;
  height: auto;
  visibility: visible;
  padding: 10px;
  transition: color 0.7s ease, height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
}

.faqDetails:hover {
  background-color: #e7caa1;
}

.faqDetailsOpen:hover {
  background-color: #f7deb0;
}

@media screen and (min-width: 1024px) {
  .faqSection {
    padding: 0 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .faqBody {
    max-width: 60%;
    padding: 50px 0;
  }

  .faqDetails {
    font-size: 20px; /* Padronizado para 20px */
    padding: 10px 15px;
  }

  .faqSummary {
    font-size: 20px; /* Padronizado para 20px */
  }

  .faqDetailsContent {
    font-size: 20px; /* Padronizado para 20px */
    padding: 15px 25px;
  }

  .faqImage {
    background-position: right top;
    height: 60vh;
  }

  .faqList {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

@media screen and (max-width: 768px) {
  .faqBody {
    max-width: 90%;
    padding: 20px 0;
  }

  .faqDetails {
    padding: 10px 15px;
    font-size: 16px;
  }

  .faqImage {
    background-position: right top;
    height: 25vh;
  }

  .faqSummary {
    font-size: 16px;
  }

  .faqDetailsContent {
    font-size: 16px;
    padding: 10px 15px;
  }

  .faqList {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
