
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContainer {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 80%;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 1001;
    box-sizing: border-box;
    justify-content: space-between; /* Espaço entre imagem e formulário */
    align-items: stretch; /* Mantém a altura dos elementos igual */
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color:#64090e ;
}

.modalContent {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: stretch; /* Alinha a altura da imagem e do formulário */

}

.imageContainer {
    width: 50%;
    /* flex: 0 0 50%; A imagem ocupa 40% do container */
    background-image: url('/images/Modal_Img_desktop.jpg');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}

.formContainer {
    flex: 1;
    margin: auto; /* O formulário ocupa o restante do espaço */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; 


}

.formContainer h2 {
    width: 50%;
    margin: auto;
    text-align: center;
    color: #64090e;
    margin-bottom: 30px;
    margin-top: 0px;
}

.inputGroup {
    display: flex;
    margin: auto;
    align-items: center;
    width: 80%; /* Garante que o grupo de input ocupe toda a largura do formulário */
    margin-bottom: 10px;
    flex-wrap: nowrap; /* Impede que os elementos dentro do grupo se quebrem em múltiplas linhas */
}

.inputGroup label {
    width: 30%; /* A label ocupa 60% do espaço */
    font-weight: bold;
    color: #333;
    text-align:right;
    margin-right: 25px;
    margin-top: 0px;
}

/* Adicionando a classe para alinhar input e erro em coluna */
.inputWithError {
    width: 60vh; /* Define a largura dos inputs para ocupar o espaço restante */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 0px;
    /* border: #64090e 2px solid; */
}

.inputWithError input    {
    width: 100%; /* Mantém o input ocupando toda a largura da div */
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #ffe5d8;
    color: #000;
    box-sizing: border-box;
    height: 35px; /* Define uma altura fixa para os inputs */

}

/* Estilo para os erros específicos nos campos */
.inputWithError .error {
    color: #a94442;
    font-size: 14px;
    padding: 5px;
    display: block;
    text-align: left;
    min-height: 20px; /* Altura mínima para reservar espaço para a mensagem de erro */
    visibility: hidden; /* Esconde o erro por padrão, mas ainda ocupa espaço */
}

.inputWithError .error.visible {
    visibility: visible; /* Torna a mensagem de erro visível quando necessário */
    font-size: 10px;
}

.divErro {
    min-height: 30px;
}

.submitButton {
    align-self: flex-end; /* Move o botão para a direita */
    background-color: #8a0303;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    width: 50%; /* O botão ocupa 50% da largura do formulário */
    max-width: 200px; /* Define uma largura máxima para o botão */
    margin-top: 20px; /* Adiciona um espaçamento superior */
    box-sizing: border-box;
}

.submitButton:hover {
    background-color: #6e0202;
}

/* Estilos para as mensagens de sucesso e erro */
.successMessage,
.errorMessage {
    width: 50%;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.successMessage {
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #3c763d;
}

.errorMessage {
    background-color: #f2dede;
    color: #a94442;
    border: 1px solid #a94442;
}

.msgEnvio {

    min-height: 50px;
    margin: 0px;
}