.allPulications{
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (min-width: 1025px){
    
    .allPulications{
        /* border: 1px solid green; */
        display: flex;
        flex-wrap: wrap;
    }
    
}