.retentionSection {
    background-color: #6e0d0a;
    color: white;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.retentionSection>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.retentionSection p {
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
    position: relative;    
    width: 75%;
}

.firstLine {
    font-weight: bold;
}

.retentionSection form {
    display: inline-block;
    margin-bottom: 150px;
    min-height: 50px;
}


.flower {
    position: absolute;
    width: 230px;
    height: 230px;
    background: url('/images/retentionLogo.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

.flower-bottom-left {
    bottom: -55px;
    left: -18px;
}

.flower-top-right {
    top: 55px;
    right: -30px;
    transform: scaleX(-1)
}

@media screen and (max-width: 768px){
    .retentionSection >div{
        width: 100%;
    }

    .retentionSection p{
        font-size: 20px;
    }
    
    .flower {
        width: 35%;
       
    }

    .flower-bottom-left {
        bottom: -120px;
        left: 0px;
    }

    .flower-top-right {
        top: 10px;
        right: 0px;
        transform: scaleX(-1)
    }
    
}