/* Header.css */
.stickyHeader {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
}

.stickyHeader.scrolled {
    background-color: black; /* Fundo cinza transparente quando rola */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 5px 0;
    border-bottom: none;
}

.stickyHeader.scrolled > nav ul {
    border-bottom: none;
}

.stickyHeader {
    position: fixed; /* Alterado de sticky para fixed */
    top: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, padding 0.3s ease;
}

.stickyHeader nav {
    display: flex;
    justify-content: end;
}

.stickyHeader nav ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    width: fit-content;
    /* margin-top: 0.5rem; */
    margin-right: 10rem;
    padding: 0.8rem 0;
    border-bottom: 1px solid white;
}

.stickyHeader nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    transition: color 0.3s ease;
}

.stickyHeader nav ul li a:hover {
    color: #9b3f3f;
    /* Cor de hover pode ser ajustada conforme o estilo do site */
}

/* Adiciona uma margem superior à primeira seção para compensar a altura do header */
.firstSection {
    padding-top: 50px;
    /* Ajuste para a altura real do seu header */
}
