.contentBox {
    background-color: #FAF3E2;
    border-radius: 32px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
    flex-grow: 1;
    width: 25%;
  }
  
  .contentBox:hover {
    transform: scale(1.02);
  }
  
  .contentBox img {
    width: 100%;
    height: 83px;
    object-fit: cover;
  }
  
  .contentBox div {
    padding: 0 2rem;
  }
  
  .contentBox h2 {
    color: #5b3923;
    font-size: 1.5rem;
    margin-top: 3.5625rem;
    margin-bottom: 0.8125rem;
  }
  
  .contentBox p {
    color: #333;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 5.0625rem;
  }
  