.specialtySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAF6EB;
    /* Fundo suave */
    padding: 40px 20px;
    min-height: 100vh;
}