/* HeroSection.css */

.homeSection {
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100vh;
    background-image: url('/images/Home_SeAbrace.svg');
    background-size: cover;
    background-position: center;
    position: relative;
    color: white;
}

.homeSection>div {
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 75rem;
}

.heroContent {
    text-align: center;
    max-width: min(48rem, 100%);
    padding: 20px;
    border-radius: 8px;
}

.heroContent p {
    text-align: center;
}

.heroContent img {
    max-width: 100%;
}

.heroDescription {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    text-align: justify;
}

@media only screen and (max-width: 600px) {
    .heroContent p {
        text-align: center;
    }
}