.footer {
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
}

.footerTop {
    display: flex;
    align-items: center; 
    justify-content: center; 
    margin-bottom: 0; 
    width: 100%; 
}

.footerContent {
    display: flex;
    flex-direction: column; 
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-around; 
    padding-bottom: 80px;
    /* border: 1px solid greenyellow; */
}

.footerImage {
    width: 100%; 
    height: auto; 
}

.footerContent>div{
    /* border: 1px solid white; */
    width: 30%;
    display: flex;
    justify-content: center;
}

.footerContent>div:nth-child(1){
    /* border: 1px solid red; */
    flex-direction: row;
    margin-top: 40px;
}

.footerContent>div:nth-child(2){
    /* border: 1px solid blue; */
    padding: 0px 30px 30px 30px;
}

.footerContent>div:nth-child(2)>img{
    max-width: 320px;
    height: auto; 
    object-fit: contain;
    min-width: 200px;
}

.footerContent>div:nth-child(3){
    /* border: 1px solid blue; */
    padding: 10px 8px;
}

.footerContent>div:nth-child(3)>ol{
    padding: 10px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    border-bottom: 0.5px solid white;
}

.footerContent>div:nth-child(3)>ol>li{
    padding: 10px;
} 

.footerContent>div:nth-child(3)>ol>li>a{
    color: #fff;
    text-decoration: none;
    /* border-bottom: 0.5px solid white; */
    /* border: 1px solid goldenrod; */
}

@media screen and (min-width: 1025px){
    
    .footerContent {
        flex-direction: row;
    }

    .footerContent>div:nth-child(3)>ol{
        flex-direction: column;
        border-left: 0.5px solid white;
        border-bottom: none;
    }

    .footerContent>div:nth-child(3)>ol>li{
        padding: 5px 5px 5px 0;
        /* border: 1px solid saddlebrown; */
    } 

    .footerContent>div:nth-child(3)>ol>li>a{
        border-bottom: none;
    }
    
    
}